<nav><a [routerLink]="'/trainer-page'">To the trainer page!</a></nav>
<div *ngFor="let i of pokemonList">
    <p [routerLink]="'/pokemon-detail/' + i.id">{{ i.name }} </p>
    <img src="{{i.photo}}" alt="{{i.name}}" [routerLink]="'/pokemon-detail/' + i.id">
    <button [routerLink]="'/pokemon-detail/' + i.id">view the details of this pokemon</button>
</div>

