<nav><a [routerLink]="'/pokemon-catalogue'">To the catalogue!</a></nav>
<div>
    
    <p>Name: {{ pokemon.name }}</p>
    <p>Types: {{ pokemon.types }}</p>
    <p>Height: {{ pokemon.height }}</p>
    <p>weight: {{ pokemon.weight }}</p>
    <p>abilities: {{ pokemon.abilities }}</p>
    <p>base experience: {{ pokemon.baseExperience }}</p>
    <p>moves: {{ pokemon.moves }}</p>
    <p>base stats: {{ pokemon.baseStat }}</p>
    <img src="{{pokemon.photo}}" alt="{{pokemon.name}}">
    <button (click)='catchPokemon()'>catch this pokemon</button>
</div>

