<nav><a [routerLink]="'/pokemon-catalogue'">to the catalogue</a></nav>
<p>{{ this.trainer.name }}</p>
<div *ngFor="let i of trainer.pokemonArray">
    <p [routerLink]="'/pokemon-detail/' + i.id">{{ i.name }}</p>
    <img src="{{i.photo}}" alt="{{i.name}}" [routerLink]="'/pokemon-detail/' + i.id">
</div>


